# Regression Model With Keras - A
### Facundo Cuzziol

In this notebook, we will create a regression model with Keras, using a sample dataset about the compressive strength of different samples of concrete, based on the volumes of different ingredients that were used to make them. As well as this, the notebook will be divided in 4 sections (A,B,C,D), making slight modifications to the model in each section.

First, we need to import pandas and numpy, and download de data

In [2]:

import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:

concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

We now split the data into predictors and target, which would be the concrete sample strength

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

Now we need to import the necessesary libraries to make our regression model and to interact with it.

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

Now we define a function that creates a model with one hidden lazer with 10 neurons or nodes, and a ReLU activation function, using adam optimizer and the mean squared error as the loss function

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

We now split the data into a training and a test set, holding 30% of the data for testing

In [15]:

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

### Train and Test

In [16]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [17]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 2s 3ms/step - loss: 28087.4520
Epoch 2/50
721/721 [==============================] - 1s 835us/step - loss: 7578.8248
Epoch 3/50
721/721 [==============================] - 1s 772us/step - loss: 2256.6588
Epoch 4/50
721/721 [==============================] - 1s 741us/step - loss: 1631.5163
Epoch 5/50
721/721 [==============================] - 1s 804us/step - loss: 1566.5973
Epoch 6/50
721/721 [==============================] - 1s 871us/step - loss: 1494.5158
Epoch 7/50
721/721 [==============================] - 1s 1ms/step - loss: 1423.5419
Epoch 8/50
721/721 [==============================] - 1s 1ms/step - loss: 1352.8831
Epoch 9/50
721/721 [==============================] - 1s 770us/step - loss: 1288.5695
Epoch 10/50
721/721 [==============================] - 1s 785us/step - loss: 1224.2151
Epoch 11/50
721/721 [==============================] - 1s 837us/step - loss: 1161.3228
Epoch 12/50
721/721 [==============================] - 1s 1ms/step - loss: 1101.6841
Epoch 13/50
721/721 [==============================] - 1s 714us/step - loss: 1046.2995
Epoch 14/50
721/721 [==============================] - 1s 830us/step - loss: 993.7199
Epoch 15/50
721/721 [==============================] - 1s 788us/step - loss: 944.6096
Epoch 16/50
721/721 [==============================] - 1s 765us/step - loss: 896.9406
Epoch 17/50
721/721 [==============================] - 1s 759us/step - loss: 849.1108
Epoch 18/50
721/721 [==============================] - 1s 825us/step - loss: 809.1803
Epoch 19/50
721/721 [==============================] - 1s 844us/step - loss: 766.3012
Epoch 20/50
721/721 [==============================] - 1s 719us/step - loss: 727.7519
Epoch 21/50
721/721 [==============================] - 1s 922us/step - loss: 693.4148
Epoch 22/50
721/721 [==============================] - 1s 1ms/step - loss: 658.2077
Epoch 23/50
721/721 [==============================] - 1s 1ms/step - loss: 625.5420
Epoch 24/50
721/721 [==============================] - 1s 2ms/step - loss: 598.5099
Epoch 25/50
721/721 [==============================] - 1s 1ms/step - loss: 571.7953A: 0s - loss: 573.
Epoch 26/50
721/721 [==============================] - 1s 980us/step - loss: 544.5357
Epoch 27/50
721/721 [==============================] - 1s 885us/step - loss: 519.6741
Epoch 28/50
721/721 [==============================] - 1s 887us/step - loss: 497.1885
Epoch 29/50
721/721 [==============================] - 1s 888us/step - loss: 476.4259
Epoch 30/50
721/721 [==============================] - 1s 1ms/step - loss: 454.6184
Epoch 31/50
721/721 [==============================] - 1s 814us/step - loss: 435.1218
Epoch 32/50
721/721 [==============================] - 1s 870us/step - loss: 416.4692
Epoch 33/50
721/721 [==============================] - 1s 765us/step - loss: 399.7167
Epoch 34/50
721/721 [==============================] - 1s 854us/step - loss: 383.7109
Epoch 35/50
721/721 [==============================] - 1s 817us/step - loss: 366.8411
Epoch 36/50
721/721 [==============================] - 1s 824us/step - loss: 352.1055
Epoch 37/50
721/721 [==============================] - 1s 1ms/step - loss: 338.4435
Epoch 38/50
721/721 [==============================] - 1s 959us/step - loss: 325.1968
Epoch 39/50
721/721 [==============================] - 0s 676us/step - loss: 312.4408
Epoch 40/50
721/721 [==============================] - 1s 1ms/step - loss: 300.5047
Epoch 41/50
721/721 [==============================] - 1s 1ms/step - loss: 291.4069
Epoch 42/50
721/721 [==============================] - 0s 691us/step - loss: 280.0646
Epoch 43/50
721/721 [==============================] - 1s 838us/step - loss: 268.3251
Epoch 44/50
721/721 [==============================] - 0s 690us/step - loss: 259.6030
Epoch 45/50
721/721 [==============================] - 1s 923us/step - loss: 250.2445
Epoch 46/50
721/721 [==============================] - 1s 936us/step - loss: 240.7664
Epoch 47/50
721/721 [==============================] - 1s 922us/step - loss: 232.7584
Epoch 48/50
721/721 [==============================] - 1s 822us/step - loss: 224.8272
Epoch 49/50
721/721 [==============================] - 1s 766us/step - loss: 217.3545
Epoch 50/50
721/721 [==============================] - 1s 728us/step - loss: 211.4003

In [18]:
# we now evaluate the model on the test data
loss_val = model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)
loss_val

309/309 [==============================] - 0s 677us/step

200.3580980516946

In [19]:
# Now we import the mean_square_error library
from sklearn.metrics import mean_squared_error

In [20]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

200.35809600452674 0.0

After this, we make a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors

In [21]:
total_mean_squared_errors=50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 97.57711750018173
MSE 2: 122.76213389770113
MSE 3: 111.05702384775897
MSE 4: 124.68709808645896
MSE 5: 120.35629252708459
MSE 6: 109.71029581606967
MSE 7: 132.0571385355829
MSE 8: 104.7571546931097
MSE 9: 122.52639074232972
MSE 10: 111.12305418341677
MSE 11: 103.22572753807488
MSE 12: 100.47937199367288
MSE 13: 117.18947188985386
MSE 14: 115.27011130619975
MSE 15: 116.44025798908716
MSE 16: 108.8061778244463
MSE 17: 103.15881248893861
MSE 18: 103.01653904590792
MSE 19: 96.54012365248597
MSE 20: 108.9207079001615
MSE 21: 94.89515014450913
MSE 22: 98.4032905356398
MSE 23: 108.07415156688505
MSE 24: 97.23003855337988
MSE 25: 101.68880546594515
MSE 26: 97.2757340218257
MSE 27: 116.47660472092119
MSE 28: 103.51144947434706
MSE 29: 104.71501265837537
MSE 30: 104.52936307049106
MSE 31: 73.83128240887787
MSE 32: 61.022277387600504
MSE 33: 58.79305459920642
MSE 34: 60.67615943587714
MSE 35: 59.99853609449269
MSE 36: 71.03990089391813
MSE 37: 65.26808626983544
MSE 38: 63.55107054972726
MSE 39: 67.56605749531471
MSE 40: 61.41279031697986
MSE 41: 69.707856780117
MSE 42: 62.127216104550655
MSE 43: 65.25769954051786
MSE 44: 66.94396115892528
MSE 45: 64.2305935115876
MSE 46: 64.48788034877344
MSE 47: 63.35598875866739
MSE 48: 66.9021506448394
MSE 49: 59.63153876147224
MSE 50: 64.53106983271232


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 90.93591433652468
Standard Deviation: 22.915127687458735

# Regression Model With Keras - B

This section is quite similar to the first one, with the slight difference that we have to normalize the data first. Therefore, the procedure for the first part of this section will be almost identical to the first section.

As we have already downloaded the required data in Section A, we are going to skip those steps in this section. We can also check the predictors and target variables to see if the data reamins properly divided

In [22]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [23]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize Data
Now, the important part of this section is to Normalize the previously shown data, by substracting its mean and dividing it by its standard deviation

In [24]:

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Once our data is normalize, we split again the test and trains sets as required, and build and fit our model again

In [25]:

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [26]:
# build the model
model = regression_model()

In [27]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1646.0451
Epoch 2/50
 - 1s - loss: 1625.9494
Epoch 3/50
 - 1s - loss: 1606.1026
Epoch 4/50
 - 2s - loss: 1587.4477
Epoch 5/50
 - 1s - loss: 1569.3973
Epoch 6/50
 - 1s - loss: 1551.7809
Epoch 7/50
 - 1s - loss: 1534.8328
Epoch 8/50
 - 1s - loss: 1518.1628
Epoch 9/50
 - 1s - loss: 1501.6686
Epoch 10/50
 - 1s - loss: 1485.3745
Epoch 11/50
 - 1s - loss: 1468.8836
Epoch 12/50
 - 1s - loss: 1452.4524
Epoch 13/50
 - 1s - loss: 1435.7515
Epoch 14/50
 - 1s - loss: 1418.4610
Epoch 15/50
 - 1s - loss: 1401.0624
Epoch 16/50
 - 1s - loss: 1383.1922
Epoch 17/50
 - 1s - loss: 1365.0579
Epoch 18/50
 - 1s - loss: 1346.4082
Epoch 19/50
 - 1s - loss: 1327.2678
Epoch 20/50
 - 1s - loss: 1307.9110
Epoch 21/50
 - 1s - loss: 1287.9013
Epoch 22/50
 - 1s - loss: 1267.8583
Epoch 23/50
 - 1s - loss: 1247.3810
Epoch 24/50
 - 1s - loss: 1226.5331
Epoch 25/50
 - 1s - loss: 1205.4449
Epoch 26/50
 - 1s - loss: 1183.8525
Epoch 27/50
 - 1s - loss: 1162.2689
Epoch 28/50
 - 1s - loss: 1140.3530
Epoch 29/50
 - 1s - loss: 1118.2477
Epoch 30/50
 - 1s - loss: 1096.2537
Epoch 31/50
 - 1s - loss: 1074.4603
Epoch 32/50
 - 1s - loss: 1052.0077
Epoch 33/50
 - 1s - loss: 1030.0992
Epoch 34/50
 - 1s - loss: 1008.0372
Epoch 35/50
 - 3s - loss: 986.0140
Epoch 36/50
 - 1s - loss: 964.1392
Epoch 37/50
 - 1s - loss: 942.4372
Epoch 38/50
 - 1s - loss: 921.1536
Epoch 39/50
 - 1s - loss: 899.8064
Epoch 40/50
 - 1s - loss: 878.9314
Epoch 41/50
 - 1s - loss: 858.0060
Epoch 42/50
 - 1s - loss: 837.7008
Epoch 43/50
 - 1s - loss: 817.5748
Epoch 44/50
 - 1s - loss: 798.0100
Epoch 45/50
 - 1s - loss: 778.4731
Epoch 46/50
 - 1s - loss: 759.5798
Epoch 47/50
 - 1s - loss: 740.9896
Epoch 48/50
 - 1s - loss: 722.8445
Epoch 49/50
 - 1s - loss: 704.9007
Epoch 50/50
 - 1s - loss: 687.6724

Now, we need to evaluate the model on the test data

In [28]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 1ms/step

690.5666383416136

As the previous section, we calculate the mean_squared_error again, as well as the mean and standard deviation

In [29]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

690.5666277543495 0.0

We now create a lsit of 50 mean squeared errors and report mean, as well as the standard deviation of the mean squared errors, inside the following loop

In [30]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. The total number of epochs used for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 224.89482980870122
MSE 2: 148.0255813351727
MSE 3: 91.04461250181723
MSE 4: 73.64714557684741
MSE 5: 57.33633401864555
MSE 6: 53.8414350589888
MSE 7: 53.90316846532729
MSE 8: 39.970482403406436
MSE 9: 42.2173079827071
MSE 10: 41.18449762338188
MSE 11: 38.993159815717284
MSE 12: 37.200654372428225
MSE 13: 42.608289971706554
MSE 14: 43.94735322723883
MSE 15: 37.08465553950337
MSE 16: 32.39332749079732
MSE 17: 37.16362878496979
MSE 18: 35.675062753621816
MSE 19: 34.937822669069355
MSE 20: 37.095452194460776
MSE 21: 32.104835139894945
MSE 22: 32.95598747969445
MSE 23: 29.675259488300213
MSE 24: 33.220291347565386
MSE 25: 36.75721238886268
MSE 26: 36.226689249180666
MSE 27: 30.37200251829277
MSE 28: 31.626027974495997
MSE 29: 34.341180659420665
MSE 30: 31.43717917655278
MSE 31: 28.58710173572923
MSE 32: 28.197635934576635
MSE 33: 28.65616726180882
MSE 34: 31.735209498976428
MSE 35: 34.497749106397904
MSE 36: 36.85362728822579
MSE 37: 27.029477745969704
MSE 38: 34.54816523184668
MSE 39: 31.423685623218326
MSE 40: 26.91912955373622
MSE 41: 33.96660393650092
MSE 42: 28.46759307268754
MSE 43: 32.046600508458404
MSE 44: 35.00668255951027
MSE 45: 34.39029942978547
MSE 46: 32.81564719931593
MSE 47: 29.355009825870056
MSE 48: 33.29729048102419
MSE 49: 30.95640984322261
MSE 50: 30.61615138377958


Mean and standard deviation of 50 mean squared errors with normalized data. The total number of epochs used for each training is: 50

Mean: 43.22495361847305
Standard Deviation: 32.279708514483524

Comparing the MSE obtained in this section with the previous ones in section A, we can clearly see that the MSE decreases, by normalizing the data.

# Regression Model With Keras - C

In this section, we make the following modification: Use a value of 100 epochs instead of 50 for training. This is based on the normalized data from section B. Consequently, we just need to run again the following commands

In [31]:

total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of  " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 31.538386755390846
MSE 2: 30.75562438224126
MSE 3: 26.04377460171104
MSE 4: 29.570554048112296
MSE 5: 29.607472262336213
MSE 6: 29.30570815990658
MSE 7: 34.44762099676534
MSE 8: 27.238987006030037
MSE 9: 26.954508858591222
MSE 10: 25.768317867637066
MSE 11: 27.722538870900966
MSE 12: 28.6146047153905
MSE 13: 28.943150739453756
MSE 14: 35.39771413957417
MSE 15: 25.36139080208096
MSE 16: 24.15951720179092
MSE 17: 30.138911250339742
MSE 18: 29.456249088916962
MSE 19: 29.13411514504442
MSE 20: 28.916316961393388
MSE 21: 29.251819746393988
MSE 22: 26.48741946174103
MSE 23: 27.248089132957087
MSE 24: 26.00049234285324
MSE 25: 30.887579976547883
MSE 26: 29.988366111582536
MSE 27: 25.128676121288905
MSE 28: 26.688428563979066
MSE 29: 29.901272239808513
MSE 30: 27.076599367999723
MSE 31: 25.423053259988432
MSE 32: 23.81200462637596
MSE 33: 23.617176339850072
MSE 34: 27.81700316370498
MSE 35: 31.197814916715654
MSE 36: 30.60329713790548
MSE 37: 23.987710431169923
MSE 38: 30.47809346516927
MSE 39: 28.272166761379797
MSE 40: 25.91756336125741
MSE 41: 28.888072430508807
MSE 42: 25.36186154066166
MSE 43: 27.97182907795829
MSE 44: 30.59326226194314
MSE 45: 28.927911579416023
MSE 46: 29.95858522680585
MSE 47: 26.972386332391537
MSE 48: 30.15582891421025
MSE 49: 28.912412044685635
MSE 50: 28.596634528397743


Mean and standard deviation of  50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 28.303977065946572
Standard Deviation: 2.486705351875725

Using 100 epochs instead of 50 for training, makes the MSE decrease, in coparison with the results from section B

# Regression Model With Keras - D

In this last section, we add three hidden layers, each one of them with 10 nodes and a ReLU activation function. In order to do so, we modify our regression_model function as it follows

In [32]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now, our regression model has three hidden layers, each one with 10 nodes and a ReLU activaction function, using the adam optimizer and the mean squeared error as the loss function
Now, we new to split the data again, build our new regression model and fit it.

In [33]:

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [34]:
# build the model
model = regression_model()

In [35]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 2s - loss: 1582.5144
Epoch 2/50
 - 2s - loss: 1557.6582
Epoch 3/50
 - 2s - loss: 1522.1855
Epoch 4/50
 - 1s - loss: 1467.6655
Epoch 5/50
 - 1s - loss: 1380.0398
Epoch 6/50
 - 2s - loss: 1248.5963
Epoch 7/50
 - 2s - loss: 1067.5842
Epoch 8/50
 - 1s - loss: 856.1258
Epoch 9/50
 - 2s - loss: 638.5344
Epoch 10/50
 - 1s - loss: 463.4534
Epoch 11/50
 - 2s - loss: 360.5181
Epoch 12/50
 - 2s - loss: 300.5154
Epoch 13/50
 - 2s - loss: 263.6687
Epoch 14/50
 - 2s - loss: 237.4363
Epoch 15/50
 - 2s - loss: 218.9439
Epoch 16/50
 - 2s - loss: 204.6135
Epoch 17/50
 - 2s - loss: 194.3762
Epoch 18/50
 - 2s - loss: 186.2497
Epoch 19/50
 - 2s - loss: 180.3007
Epoch 20/50
 - 1s - loss: 175.2682
Epoch 21/50
 - 1s - loss: 171.4872
Epoch 22/50
 - 4s - loss: 168.1449
Epoch 23/50
 - 2s - loss: 165.1146
Epoch 24/50
 - 1s - loss: 162.4731
Epoch 25/50
 - 2s - loss: 160.0087
Epoch 26/50
 - 2s - loss: 157.7483
Epoch 27/50
 - 2s - loss: 155.6451
Epoch 28/50
 - 2s - loss: 153.6367
Epoch 29/50
 - 2s - loss: 151.9043
Epoch 30/50
 - 2s - loss: 150.2782
Epoch 31/50
 - 1s - loss: 148.4661
Epoch 32/50
 - 1s - loss: 146.7741
Epoch 33/50
 - 1s - loss: 145.5355
Epoch 34/50
 - 2s - loss: 144.5372
Epoch 35/50
 - 2s - loss: 143.2399
Epoch 36/50
 - 2s - loss: 141.8657
Epoch 37/50
 - 2s - loss: 140.8301
Epoch 38/50
 - 1s - loss: 139.9107
Epoch 39/50
 - 1s - loss: 138.7418
Epoch 40/50
 - 2s - loss: 137.6060
Epoch 41/50
 - 2s - loss: 136.8933
Epoch 42/50
 - 2s - loss: 135.9823
Epoch 43/50
 - 2s - loss: 135.3943
Epoch 44/50
 - 1s - loss: 134.2503
Epoch 45/50
 - 1s - loss: 133.4358
Epoch 46/50
 - 1s - loss: 133.0140
Epoch 47/50
 - 2s - loss: 132.3158
Epoch 48/50
 - 2s - loss: 131.2065
Epoch 49/50
 - 2s - loss: 130.7815
Epoch 50/50
 - 2s - loss: 129.8043

As the previous sections, we now evaluate our model on the test data

In [36]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 1s 2ms/step

124.91885210549562

And again, we compute the mean squeared error between the predicted concrete strength and the actual concrete strength

In [37]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

124.91885314927016 0.0

Finally , we create a list of 50 mean squeared errors  and report mean and the standard deviation of the mean sequared errors. Also, as this section is based on section B, we use only 50 epochs, and not 100 as required in section C

In [38]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 97.12971039805983
MSE 2: 104.03520150786464
MSE 3: 62.78348806683685
MSE 4: 53.42261742156686
MSE 5: 45.276721324735476
MSE 6: 47.50588418905017
MSE 7: 43.730516131256
MSE 8: 34.11839410479401
MSE 9: 38.98172945189245
MSE 10: 37.450785207902726
MSE 11: 31.824286470135437
MSE 12: 28.644530879641042
MSE 13: 37.84011437437681
MSE 14: 35.28485932087821
MSE 15: 31.392842771165967
MSE 16: 26.417941084185852
MSE 17: 33.338831491069115
MSE 18: 31.895100321970325
MSE 19: 29.08087324247391
MSE 20: 31.05556546060013
MSE 21: 28.09254492602302
MSE 22: 28.12360111100774
MSE 23: 23.775163909763965
MSE 24: 24.80790656129905
MSE 25: 29.18769314219651
MSE 26: 29.035321565893476
MSE 27: 25.723306538603453
MSE 28: 24.86546112727193
MSE 29: 26.947044792298747
MSE 30: 25.528028611612164
MSE 31: 20.900979600677985
MSE 32: 24.4545266234759
MSE 33: 21.414216507599964
MSE 34: 25.298589663212354
MSE 35: 27.83474541327714
MSE 36: 28.337494081663856
MSE 37: 20.565647565045403
MSE 38: 23.84134891349521
MSE 39: 22.533781810871606
MSE 40: 21.0645638006019
MSE 41: 25.087467292365904
MSE 42: 22.063405756039913
MSE 43: 26.231655355410282
MSE 44: 29.01806756670807
MSE 45: 24.88689816422447
MSE 46: 25.822607466318075
MSE 47: 22.155781199631182
MSE 48: 27.864049016464875
MSE 49: 24.520153434531203
MSE 50: 24.37541875252832


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 32.71134904160547
Standard Deviation: 16.21873069492483

According to this results, the MSE is lower that in section B, but not as low as the values obtained in section C